* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    background: #111;
    color: white;
  }
  .header {
    text-align: center;
    padding: 1.5rem 0;
    background: rgb(47, 0, 255);
  }
  form {
      margin: 2em auto;
    max-width: 740px;
    padding: 2rem 4rem;
    background: rgb(47, 0, 255);
    overflow: auto;
  }
  .form-group {
    padding: 0.5rem 0;
  }
  .form-group label {
    display: block;
  }
  .form-group input {
    width: 100%;
    padding: 0.3rem 0.3rem;
    margin: 0.5rem 0;
  }
  .form-group select {
    width: 100%;
    border: none;
    margin: 0.2rem 0;
  }
  .btn {
    display: block;
    padding: 0.5rem;
    margin: 1rem 0;
    background: rgb(47, 0, 255);
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  .alert {
    display: block;
    padding: 0.5rem;
    background: rgb(47, 0, 255);;
    color: white;
    border: none;
    width: 100%;
    text-align: center;
  }